*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
}

.perfil{
    text-align: center;
    margin-top: 20px;
}

.avatar{
    width: 100px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

.social{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    list-style: none;
}

.social img{
    width: 33px;
}

.links-list{
    list-style: none;
}

.links-list li{
    margin: 5px 20px;
}

.links-list li a{
    display: block;
    border-radius: 5px;
    background: #ffffff;
    padding: 15px 20px;
    text-decoration: none;  
    color: rgb(238,174,202);
    font-weight: bold;  
}

.links-list li a span{
    display: block;
    color: gray;
    margin-top: 10px;
    font-weight: 100;
}

.links-list-second{
    list-style: none;
    margin-top: 30px;
}

.links-list-second li{
    margin: 5px 20px;
}

.links-list-second li a{
    display: block;
    border-radius: 5px;
    background: #ffffff;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.links-list-second li a span{
    display: block;
    margin-top: 10px;
    color: gray;
    font-weight: 100;
}

h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2{
    font-size: 16px;
}

